<script type="text/javascript">
	function myFunction() {
    var x = document.getElementById("menu-mob");
    if (x.style.display === "none") {
      x.style.display = "flex";
    } else {
      x.style.display = "none";
    }
  }
</script>

<style type="text/css">

.navbar {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.logo {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 30%;
    height: 100%;
}
.logo-image {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 200px;
    background-color: #A0A0A0;
}
.dummyimage {
    order: 1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;

}
.menu {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 70%;
    height: 100%;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu-button {
    height: 100%;
    width: 100px;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: #000000;
}
.menu-button:hover {
    cursor: pointer;
    background-color: #d64161;
    color: #ffffff;
}
.menu-button:active {

}
.btn1 {
    order: 1;
}
.btn2 {
    order: 2;
}
.btn3 {
    order: 3;
}
.btn4 {
    order: 4;
}
.menu-mobile {
    display: none;
}


@media screen and (max-width: 800px) {
.navbar {
    flex-direction: column;
}
.logo-image {
    order: 1;
    height: 50;
    width: 200px;
}
.menu {
    display: none;
}
.menu-mobile-btn{
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    width: 50%;
    height: 100%;
}
.hamburger{
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 100%;
    min-height: 100%;
}
.hamb-ico {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40px;
    width: 40px;
}
.dummyicon {
    order: 1;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-decoration: none;
}
.dummyicon:hover {
    cursor: pointer;
    color: #d64161;
}

.menu-mobile {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0px;
    max-width: 100%;
    max-height: 600px;
}
.menu-button2 {
    height: 40px;
    width: 200px;
    padding: 10px;
    text-align: center;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-decoration: none;
}
.menu-button2:hover {
    cursor: pointer;
    background-color: #d64161;
    color: #ffffff;
}

}

@media screen and (min-width: 800px) {
#menu-mob {
    display: none !important;
}
.dummyicon {
    display: none;
}
}

.ll {background: gainsboro;
}
</style>


	 <div class="container-fluid ll mb-4">
        <div class="navbar">
            <div class="logo">
                <div class="logo-image"><p class="dummyimage unselectable">LOGO HERE</p></div>
            </div>
            <div class="menu">
                <div class="menu-button bt1 unselectable"><p>One</p></div>
                <div class="menu-button bt2 unselectable"><p>Two</p></div>
                <div class="menu-button bt3 unselectable"><p>Three</p></div>
                <div class="menu-button bt4 unselectable"><p>Four</p></div>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        

            </div>
            <div class="menu-mobile-btn">
                <div class="hamburger">
                    <div class="hamb-ico"><p onclick="myFunction()" class="dummyicon unselectable">X</p></div>
                </div>
            </div>
            <div id="menu-mob" class="menu-mobile">
                <div class="menu-button2 bt1 unselectable"><p>One</p></div>
                <div class="menu-button2 bt2 unselectable"><p>Two</p></div>
                <div class="menu-button2 bt3 unselectable"><p>Three</p></div>
                <div class="menu-button2 bt4 unselectable"><p>Four</p></div>
                <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        

            </div>
        </div>
    </div>

<div class="container">
		<div class="jumbotron col-lg-12 posts">
			<% @posts.each do |post| %>
				<%= post.id %>
				<%= post.name %>
				<%# if can? :show, post %>
				<%= link_to "show", post_path(post) %>
				<%# end %>
			<% end %>
		</div>
</div>  

 <div class="container">
    <div class="row">
        <div class="col-md-6">
	        <div class="jumbotron">
			      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	        </div>
        </div>
        <div class="col-md-6">
	        <div class="jumbotron">
			      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	        </div>
        </div>
  	</div>
</div>


<div class="container">
	<div class="row">
		<% @posts.each do |post| %>
		  <div class="col-sm-4">
		    <div class="card border-light">
		    	<div class="card-header"><%= post.id %></div>
		      <div class="card-body">
		        <h5 class="card-title"><%= post.name %></h5>
		        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		        <%= link_to "show", post_path(post), class: "btn btn-success" %>
		      </div>
		    </div>
		  </div>
	  <% end %>
	</div>
</div>
<%# byebug %>
<%# session[:current_user_id] = current_user.id %>

<%= render "footer/footer.html.erb" %>
<div id="show_post"></div>

<script type="text/javascript">
	$(".show").click(function(){
		console.log(this)
		href = $(this).attr('href');
		$.ajax({
		  url: href,
		  method: 'GET',
		  data: 'twitterUsername=jquery4u'
		});
	});
</script>
<!-- <ActionController::Parameters {"twitterUsername"=>"jquery4u", "controller"=>"posts", "action"=>"show", "id"=>"1"} permitted: false>
 -->