<%= form_with model: @post do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.select :name, options_for_select(Post.all.map { |post| [post.name]} ) %>
	</p>
	<p>
  	<%= f.label "Get Email" %> <br />
  	<%= f.check_box :send_email %> <br />
	</p>

	<p>
  	<%= f.label "select" %> <br />
  	<%#= f.select :id, options_from_collection_for_select(Post.all, :id, :name), prompt: "select" %> <br />
	</p>

	<%= f.submit %>
	<%#= %>

<% end %>