<p class="post"><%= @post.name %></p>

<% @post.comments.each do |cmt| %>
	<p class="show">
		<%= comment_name(cmt) %>
		<% if cmt.id.present? %>
			<%= link_to 'show', comment_path(cmt) %> 
		<% end %>	
	</p>
<% end %>
<%= link_to "delete", post_path(@post), method: 'delete' %>
<%= render 'comments/form' %>
